[Unit]
Description=hs.rest-api Uvicorn Service
After=network.target

[Service]
WorkingDirectory=%h/hs.rest-api
ExecStart=%h/hs.rest-api/venv/bin/python server.py
Restart=always

[Install]
WantedBy=default.target
